:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;
   --login-register-bg: rgb(205, 205, 189); 
   --login-register-border-color: #c7c7d4;
 
   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background-color: #242424;
 
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (min-width: 600px){
  body{
    background-color: #ffffff;
  }
}
@media (max-width: 599px){
  body {
    background-color: green;
    nav ul  {
      flex-direction: column;
      margin-right: 0;     
    }
  }
}

//  LoggedInUser
.user-login {
  display: flex;
  justify-content: end;
}
/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(rgb(245, 215, 46),rgb(216, 246, 216),#d0d0d5);
}
select {
  height: 30px;
  border-radius: 5px;;
}
ul {
  list-style: none;
  li { 
    a {
      text-decoration: none;
      font-size: 25px;
      
      color:black;
      text-transform:uppercase;
    }
    margin: 10px 15px;
  }
  display: flex;
  justify-content: end;
  align-items: center;
}

/* ProductList */
.top {
  margin: 50px 0;
}
.products-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;  
  justify-content: center;
  margin: 80px auto 0 
}
@keyframes move {
  from {
    left: 0%;
  }
  to {
    left: 25%;
  }
}
h1#productList{
  position: relative;
  animation-name: move;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  // background-color: pink;
  font-family: cursive;
  color: goldenrod;
  margin: 60px;
  font-weight: bold;
  font-size: 35px;
}
.products {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 1100px;  
  padding: 0 50px; 
  gap: 5px;
}
.product-card  {
  border: 10px solid #d0d0d5;
  // width: 360px;
  padding: 15px;
  width: 100%;
  margin: 5px;
}
#select-category{
  width: 150px;
  margin-left: 15px;
}
#product-img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  display: flex;
  margin: auto;
 
}
#category {
  font-weight: bold;
}
.products > li {
  list-style: none;
}
#btn-add {
  display: flex;
  margin: auto;
  justify-content: center;
  }
#click-add{
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  border-color: #d0d0d5;
  margin: 10px 0;
}
#click-add:hover {
  background-color: rgb(135, 236, 135);
  
}
/* Footer */
#footer{
  position: fixed;
  bottom: 0px;
  // text-align: center;
  background-color: #d0d0d5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 40px; 
}
/* Cart */
.cart {
  margin-top: 80px;
}
td {
  border-bottom: 2px solid #d5d5d0;
  padding: 5px;
  margin: 10px;
}
#q-increase, #q-decrease{
  width: 30px;
  height: 30px;
  font-weight: bolder;
  border: 1px solid black;
}
#quantity {
  width: 40px;
  text-align: center;
  height: 30px;
}
#photo {
  width: 100px;
  height: 60px;
  border-radius: 10px;
}
#delete {
  display: flex;
  align-items: center;
  padding: 5px 10px; 
  border-color: #d0d0d5;
}
#delete:hover{
  background-color: red;
}
/* <Header /> */
.header-main {
  margin-top: 80px;
  display:grid;
  grid-template-columns: 1fr 10fr 1fr;
  justify-content: center;  
}
@keyframes grow {
  from {
    font-size: 20px;
  }
  to {
    font-size: 80px;
  }
}
span#store {
  animation-name: grow;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#store{
  color: goldenrod;
  font-weight: bold;
}
.intro {
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  margin: 50px 0;
}
.start {
  background-color: 	#f8f5f5;
  font-size: 20px;
  padding: 50px;
  border-radius: 5px;

}
#short-intro{
  margin: 20px;
}
#btn-start{
  display: flex;  
  align-items: center;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  height: 40px;
  border-color: #d0d0d5;
  font-weight: bold;
  color: goldenrod;
  background-color:black
}
#btn-start:hover{
  color: goldenrod;
  font-weight: bold;
  font-size: 20px;
}
/* <RegisterUser /> */
.register-main-container{
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  background-color: var(--login-register-bg); 

}
.register-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register-left{ 
  padding: 10px;

  background-color:  var(--login-register-bg);
  border: 5px solid var(--login-register-border-color);
}
.btn-submit{
  display: flex;
  margin: 10px auto;
  width: 120px;
  padding: 5px; 
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  font-size: 25px;
  color:black;
  cursor: pointer;
}
button.btn-submit:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}
.image-right{
  width: 70%;
}
#reg-image{
  width: 800px;
  height: auto;
}
.error {
  color: rgb(248, 63, 63);
  font-size:25px;
  background-color: rgb(245, 214, 214);
}
.success {
  color: green;
  font-size: 25px;
  background-color: rgb(234, 247, 216);
}
.warning {
  color: goldenrod;
  font-size: 25px;
  background-color: rgb(241, 238, 203);
  font-weight: bolder;
}

/* <LoginUser /> */
.loginuser-main-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;  
}
.loginuser-center {
  display: flex;
  justify-content: space-between;
  align-items: center; background-color:  var(--login-register-bg);
  border: 5px solid var(--login-register-border-color);

}
.login-main{ 
  border: 3px solid #c7c7d4;
  width: 100%;
  padding: 10px;
}
.login-input{
  width: 90%;  
  margin: 5px auto;
  height: 35px;
  border-radius: 5px;
  border-color: #d5d5d0;
}
#login-forgot-pwd{
  display: flex;
  justify-content: space-between;   
  align-items: center;
}

.btn-reg{
  color: black;
  font-weight: bold;
  font-size: 15px;
  margin: 10px auto;
}
.image-right{
  margin-left: 5px;
}

/* <ForgotPassword/> */

.forgot-password-main {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  width: 100%;
  height: 100vh;
  margin: 80px auto 0;
  background-color: #213547;
  
}
.forgot-password-center{
  display: flex;  
  margin: 20px auto; 
}
.forgot-password-left{
  width: 600px;
  height: 400px; 
  padding: 10px;
  background-color:  var(--login-register-bg);
  border: 5px solid var(--login-register-border-color);
}
.forgot-password-right{  
  width: 100%;
}

.store{
  color: goldenrod;
  font-weight: 60px;
  font-family: cursive;
  font-size: 40px;
}

#login-forgot-pwd {
  display: flex;  
}

/* <Profile /> */
@keyframes purchase {
  0% {
    left: 0%
  }
  50% {
    left: 50%;
  }
  100% {
    left: 0%;
  }
}
h1.personal-purchase {
  position: relative;
  animation-name:purchase;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

 

 